<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 重庆交通大学.信息科学与工程学院.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.wesleysugarfree.tmcloud.provider.song.dao.mapper.SongMapper">
  <resultMap id="BaseResultMap" type="io.github.wesleysugarfree.tmcloud.provider.song.dao.domain.Song">
    <id column="s_songid" jdbcType="INTEGER" property="sSongid" />
    <result column="s_singerid" jdbcType="INTEGER" property="sSingerid" />
    <result column="s_title" jdbcType="VARCHAR" property="sTitle" />
    <result column="s_surl" jdbcType="VARCHAR" property="sSurl" />
    <result column="s_visited" jdbcType="INTEGER" property="sVisited" />
    <result column="s_visitedTotal" jdbcType="INTEGER" property="sVisitedtotal" />
    <result column="s_dloaded" jdbcType="INTEGER" property="sDloaded" />
    <result column="s_scover" jdbcType="VARCHAR" property="sScover" />
    <result column="s_smvurl" jdbcType="VARCHAR" property="sSmvurl" />
    <result column="s_songdescp" jdbcType="VARCHAR" property="sSongdescp" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    s_songid, s_singerid, s_title, s_surl, s_visited, s_visitedTotal, s_dloaded, s_scover, 
    s_smvurl, s_songdescp, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_song
    where s_songid = #{sSongid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from S_song
    where s_songid = #{sSongid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.github.wesleysugarfree.tmcloud.provider.song.dao.domain.Song">
    insert into S_song (s_songid, s_singerid, s_title, 
      s_surl, s_visited, s_visitedTotal, 
      s_dloaded, s_scover, s_smvurl, 
      s_songdescp, update_time)
    values (#{sSongid,jdbcType=INTEGER}, #{sSingerid,jdbcType=INTEGER}, #{sTitle,jdbcType=VARCHAR}, 
      #{sSurl,jdbcType=VARCHAR}, #{sVisited,jdbcType=INTEGER}, #{sVisitedtotal,jdbcType=INTEGER}, 
      #{sDloaded,jdbcType=INTEGER}, #{sScover,jdbcType=VARCHAR}, #{sSmvurl,jdbcType=VARCHAR}, 
      #{sSongdescp,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="io.github.wesleysugarfree.tmcloud.provider.song.dao.domain.Song">
    insert into S_song
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sSongid != null">
        s_songid,
      </if>
      <if test="sSingerid != null">
        s_singerid,
      </if>
      <if test="sTitle != null">
        s_title,
      </if>
      <if test="sSurl != null">
        s_surl,
      </if>
      <if test="sVisited != null">
        s_visited,
      </if>
      <if test="sVisitedtotal != null">
        s_visitedTotal,
      </if>
      <if test="sDloaded != null">
        s_dloaded,
      </if>
      <if test="sScover != null">
        s_scover,
      </if>
      <if test="sSmvurl != null">
        s_smvurl,
      </if>
      <if test="sSongdescp != null">
        s_songdescp,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sSongid != null">
        #{sSongid,jdbcType=INTEGER},
      </if>
      <if test="sSingerid != null">
        #{sSingerid,jdbcType=INTEGER},
      </if>
      <if test="sTitle != null">
        #{sTitle,jdbcType=VARCHAR},
      </if>
      <if test="sSurl != null">
        #{sSurl,jdbcType=VARCHAR},
      </if>
      <if test="sVisited != null">
        #{sVisited,jdbcType=INTEGER},
      </if>
      <if test="sVisitedtotal != null">
        #{sVisitedtotal,jdbcType=INTEGER},
      </if>
      <if test="sDloaded != null">
        #{sDloaded,jdbcType=INTEGER},
      </if>
      <if test="sScover != null">
        #{sScover,jdbcType=VARCHAR},
      </if>
      <if test="sSmvurl != null">
        #{sSmvurl,jdbcType=VARCHAR},
      </if>
      <if test="sSongdescp != null">
        #{sSongdescp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.github.wesleysugarfree.tmcloud.provider.song.dao.domain.Song">
    update S_song
    <set>
      <if test="sSingerid != null">
        s_singerid = #{sSingerid,jdbcType=INTEGER},
      </if>
      <if test="sTitle != null">
        s_title = #{sTitle,jdbcType=VARCHAR},
      </if>
      <if test="sSurl != null">
        s_surl = #{sSurl,jdbcType=VARCHAR},
      </if>
      <if test="sVisited != null">
        s_visited = #{sVisited,jdbcType=INTEGER},
      </if>
      <if test="sVisitedtotal != null">
        s_visitedTotal = #{sVisitedtotal,jdbcType=INTEGER},
      </if>
      <if test="sDloaded != null">
        s_dloaded = #{sDloaded,jdbcType=INTEGER},
      </if>
      <if test="sScover != null">
        s_scover = #{sScover,jdbcType=VARCHAR},
      </if>
      <if test="sSmvurl != null">
        s_smvurl = #{sSmvurl,jdbcType=VARCHAR},
      </if>
      <if test="sSongdescp != null">
        s_songdescp = #{sSongdescp,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where s_songid = #{sSongid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.github.wesleysugarfree.tmcloud.provider.song.dao.domain.Song">
    update S_song
    set s_singerid = #{sSingerid,jdbcType=INTEGER},
      s_title = #{sTitle,jdbcType=VARCHAR},
      s_surl = #{sSurl,jdbcType=VARCHAR},
      s_visited = #{sVisited,jdbcType=INTEGER},
      s_visitedTotal = #{sVisitedtotal,jdbcType=INTEGER},
      s_dloaded = #{sDloaded,jdbcType=INTEGER},
      s_scover = #{sScover,jdbcType=VARCHAR},
      s_smvurl = #{sSmvurl,jdbcType=VARCHAR},
      s_songdescp = #{sSongdescp,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where s_songid = #{sSongid,jdbcType=INTEGER}
  </update>
</mapper>