<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.wesleysugarfree.tmcloud.provider.album.dao.mapper.AlbumMapper">
  <resultMap id="BaseResultMap" type="io.github.wesleysugarfree.tmcloud.provider.album.dao.domain.Album">
    <id column="s_aid" jdbcType="INTEGER" property="sAid" />
    <result column="s_singerid" jdbcType="INTEGER" property="sSingerid" />
    <result column="s_atitle" jdbcType="VARCHAR" property="sAtitle" />
    <result column="s_apubTime" jdbcType="DATE" property="sApubtime" />
    <result column="s_adescp" jdbcType="VARCHAR" property="sAdescp" />
    <result column="s_avisRec" jdbcType="INTEGER" property="sAvisrec" />
    <result column="s_aCoverUrl" jdbcType="VARCHAR" property="sAcoverurl" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    s_aid, s_singerid, s_atitle, s_apubTime, s_adescp, s_avisRec, s_aCoverUrl, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from S_albums
    where s_aid = #{sAid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from S_albums
    where s_aid = #{sAid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="io.github.wesleysugarfree.tmcloud.provider.album.dao.domain.Album">
    insert into S_albums (s_aid, s_singerid, s_atitle, 
      s_apubTime, s_adescp, s_avisRec, 
      s_aCoverUrl, update_time)
    values (#{sAid,jdbcType=INTEGER}, #{sSingerid,jdbcType=INTEGER}, #{sAtitle,jdbcType=VARCHAR}, 
      #{sApubtime,jdbcType=DATE}, #{sAdescp,jdbcType=VARCHAR}, #{sAvisrec,jdbcType=INTEGER}, 
      #{sAcoverurl,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="io.github.wesleysugarfree.tmcloud.provider.album.dao.domain.Album">
    insert into S_albums
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sAid != null">
        s_aid,
      </if>
      <if test="sSingerid != null">
        s_singerid,
      </if>
      <if test="sAtitle != null">
        s_atitle,
      </if>
      <if test="sApubtime != null">
        s_apubTime,
      </if>
      <if test="sAdescp != null">
        s_adescp,
      </if>
      <if test="sAvisrec != null">
        s_avisRec,
      </if>
      <if test="sAcoverurl != null">
        s_aCoverUrl,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sAid != null">
        #{sAid,jdbcType=INTEGER},
      </if>
      <if test="sSingerid != null">
        #{sSingerid,jdbcType=INTEGER},
      </if>
      <if test="sAtitle != null">
        #{sAtitle,jdbcType=VARCHAR},
      </if>
      <if test="sApubtime != null">
        #{sApubtime,jdbcType=DATE},
      </if>
      <if test="sAdescp != null">
        #{sAdescp,jdbcType=VARCHAR},
      </if>
      <if test="sAvisrec != null">
        #{sAvisrec,jdbcType=INTEGER},
      </if>
      <if test="sAcoverurl != null">
        #{sAcoverurl,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="io.github.wesleysugarfree.tmcloud.provider.album.dao.domain.Album">
    update S_albums
    <set>
      <if test="sSingerid != null">
        s_singerid = #{sSingerid,jdbcType=INTEGER},
      </if>
      <if test="sAtitle != null">
        s_atitle = #{sAtitle,jdbcType=VARCHAR},
      </if>
      <if test="sApubtime != null">
        s_apubTime = #{sApubtime,jdbcType=DATE},
      </if>
      <if test="sAdescp != null">
        s_adescp = #{sAdescp,jdbcType=VARCHAR},
      </if>
      <if test="sAvisrec != null">
        s_avisRec = #{sAvisrec,jdbcType=INTEGER},
      </if>
      <if test="sAcoverurl != null">
        s_aCoverUrl = #{sAcoverurl,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where s_aid = #{sAid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="io.github.wesleysugarfree.tmcloud.provider.album.dao.domain.Album">
    update S_albums
    set s_singerid = #{sSingerid,jdbcType=INTEGER},
      s_atitle = #{sAtitle,jdbcType=VARCHAR},
      s_apubTime = #{sApubtime,jdbcType=DATE},
      s_adescp = #{sAdescp,jdbcType=VARCHAR},
      s_avisRec = #{sAvisrec,jdbcType=INTEGER},
      s_aCoverUrl = #{sAcoverurl,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where s_aid = #{sAid,jdbcType=INTEGER}
  </update>
</mapper>